.info__about {
  font-size: 18px;
  line-height: 1.21;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  width: 100%;
}

@media screen and (max-width: 630px) {
  .info__about {
    margin: 16px auto;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .info__about {
    font-size: 14px;
    max-width: 282px;
    margin: 14px auto 0;
  }
}
